.wrapper {
  width: 760px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.welcome-side {
  background-image: url("/images/bista-welcome.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.container {
  padding: 20px;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.field label {
  font-size: 12px;
  margin-bottom: 5px;
}

.field input {
  width: 100%;
  padding: 10px;
  border-style: none;
  border-radius: 6px;
  outline-style: none;
}

.btn {
  align-self: flex-end;
}

@media screen and (max-width: 760px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .welcome-side {
    width: 100%;
    height: 300px;
  }
  .container {
    width: 95%;
    margin: 10px auto;
    background-color: #222;
    border: 1px solid #000;
    border-radius: 6px;
    color: #fff;
  }
  .field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 6px;
  }
}
