.container {
  width: 100%;
  background-color: gray;
  margin: 0 auto;
  padding-block: 64px;
  background-image: url("/images/community.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.darker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  filter: opacity(80%);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.title h2 {
  margin: 0;
  z-index: 20;
  color: white;
}

.title p {
  margin: 0;
  z-index: 20;
  color: #eee;
}

.img-show {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.img-show img {
  z-index: 20;
}
