.container {
  width: auto;
  margin: 10px;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  padding: 20px;
  background-color: #000;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.7);
}

.wrapper input {
  font-size: 14px;
  padding: 10px 5px;
  border-radius: 4px;
}

.wrapper label {
  align-self: center;
  text-align: right;
}

.password-field {
  width: auto;
  display: flex;
  align-items: center;
}

.password-field__icon {
  width: 40px;
  height: 40px;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: #fff;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-field__icon svg {
  width: 26px;
}

.password-field__icon:hover {
  cursor: pointer;
}

.password-field__input {
  width: 100%;
}
