.container {
  width: auto;
  margin: 10px;
  box-sizing: border-box;
}

.cabang-option {
  width: 500px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px;
}
.cabang-option label {
  width: 30%;
}

.cabang-option select {
  width: 70%;
  padding: 5px;
}
