.btn {
  padding: 5px 10px;
  border: 2px solid transparent;
  outline-style: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn:disabled {
  border: 2px solid grey;
  background-color: darkgrey;
  color: grey;
}

.full {
  width: 100%;
}
.half {
  width: 50%;
}
.quarter {
  width: 25%;
}

.btn h4 {
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

.btn svg {
  width: 20px;
  margin: 0;
  padding: 0;
}

.btn:hover {
  cursor: pointer;
}

.red {
  background-color: red;
  color: #fff;
  border: 2px solid transparent;
}

.red:hover {
  background-color: transparent;
  color: red;
  border: 2px solid red;
}

.red:focus {
  background-color: transparent;
  border: 2px solid red;
  color: red;
}

.red:disabled:hover {
  border: 2px solid grey;
  background-color: darkgrey;
  color: grey;
  cursor: not-allowed;
}

.green {
  background-color: limegreen;
  color: #fff;
  border: 2px solid transparent;
}

.green:hover {
  background-color: transparent;
  color: limegreen;
  border: 2px solid limegreen;
}

.green:focus {
  background-color: transparent;
  color: limegreen;
  border: 2px solid limegreen;
}

.green:disabled:hover {
  border: 2px solid grey;
  background-color: darkgrey;
  color: grey;
  cursor: not-allowed;
}

.cornflowerblue {
  background-color: cornflowerblue;
  color: #fff;
  border: 2px solid transparent;
}

.cornflowerblue:hover {
  background-color: transparent;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
}

.cornflowerblue:focus {
  background-color: transparent;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
}

.cornflowerblue:disabled:hover {
  border: 2px solid grey;
  background-color: darkgrey;
  color: grey;
  cursor: not-allowed;
}

.blue {
  background-color: blue;
  color: #fff;
  border: 2px solid transparent;
}

.blue:hover {
  background-color: transparent;
  color: blue;
  border: 2px solid blue;
}

.blue:focus {
  background-color: transparent;
  color: blue;
  border: 2px solid blue;
}

.blue:disabled:hover {
  border: 2px solid grey;
  background-color: darkgrey;
  color: grey;
  cursor: not-allowed;
}

.orange {
  background-color: darkorange;
  color: #fff;
  border: 2px solid transparent;
}

.orange:hover {
  background-color: transparent;
  color: darkorange;
  border: 2px solid darkorange;
}

.orange:focus {
  background-color: transparent;
  color: darkorange;
  border: 2px solid darkorange;
}

.orange:disabled:hover {
  border: 2px solid grey;
  background-color: darkgrey;
  color: grey;
  cursor: not-allowed;
}

.black {
  background-color: #000;
  color: #fff;
  border: 2px solid transparent;
}

.black:hover {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

.black:focus {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

.black:disabled:hover {
  border: 2px solid grey;
  background-color: darkgrey;
  color: grey;
  cursor: not-allowed;
}

.greenoutlined {
  background-color: transparent;
  color: limegreen;
  border: 2px solid limegreen;
}

.greenoutlined:hover {
  background-color: limegreen;
  color: #fff;
  border: 2px solid transparent;
}

.greenoutlined:focus {
  background-color: limegreen;
  color: #fff;
  border: 2px solid transparent;
}

.greenoutlined:disabled:hover {
  border: 2px solid grey;
  background-color: darkgrey;
  color: grey;
  cursor: not-allowed;
}
