html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a,
input,
textarea,
label,
select,
option,
button {
  font-family: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error-txt {
  width: 100%;
  color: red;
  text-align: center;
}

.success-txt {
  width: 100%;
  color: lime;
  text-align: center;
}

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #000;
}

.table-head {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.table-head * {
  padding: 10px;
}

.table-head tr td {
  font-size: 14px;
}

.table-body tr td {
  font-size: 14px;
}

.table-body * {
  padding: 5px;
}

.table-body tr:nth-child(even) {
  background-color: #dddddd;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container-resi {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10mm;
}

.container-label {
  width: 80mm;
  height: 100mm;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10mm;
}

.main-content-title {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  background-color: red;
  color: #fff;
}

input[data-touched="true"]:invalid,
select[data-touched="true"]:invalid {
  background-color: #ffc4c4;
}

.form-reqs {
  visibility: hidden;
}

input[data-touched="true"]:invalid ~ .form-reqs,
select[data-touched="true"]:invalid ~ .form-reqs {
  font-size: 10px;
  color: red;
  visibility: visible;
  margin-top: 5px;
}
